@keyframes a-1-transform {
  0% {
    transform: none;
    animation-timing-function: ease;
  }

  100% {
    transform: scale3d(0.9, 0.9, 1);
  }
}

@keyframes line-grow {
  0% {
    width: 15rem;
  }

  100% {
    width: 25rem;
  }
}

.categoryContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 15rem;
}

.categoryWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoryWrapper:hover {
  animation: 0.3s linear 0s 1 both a-1-transform;
}

.categoryWrapper:hover .line {
  animation: 0.3s linear 0s 1 both line-grow;
}

.category {
  width: 390px;
  height: 310px;
  background-color: #eef0e5;
  border-radius: 10px;
}

.heading {
  padding-top: 5rem;
  text-align: center;
  font-size: 2rem;
}

#category2 {
  background-image: url("/Tacos.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#category1 {
  background-image: url("/Nachos_Icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.line {
  width: 15rem;
  height: 2px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: black;
}

.name {
  text-align: center;
  font-size: 2.5rem;
}

.link {
  margin-top: 1rem;
  text-decoration: none;
  color: #163020;
}
