.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.leftside {
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 15rem;
  padding-right: 11rem;
  animation: slideInLeft 1s ease forwards;
}

.rightside {
  display: flex;
  width: 50%;
}

.horizontal_line {
  margin-top: 5rem;
  width: 157px;
  background-color: black;
  height: 5px;
  border: solid black;
  border-radius: 10px;
}

.heading {
  padding-top: 4rem;
  padding-right: 10rem;
  font-size: 4rem;
  font-weight: 200;
}

.button_hero {
  margin-top: 2rem;
  width: 180px;
  height: 45px;
  color: white;
  background-color: #163020;
  font-size: 2rem;
  border-radius: 10px;
}

.button_hero:hover {
  transform: scale(1.1);
  box-shadow: 2px 5px #888888;
}

.green_rectangle {
  width: 90%;
  margin-left: 10rem;
  height: 811px;
  padding-left: 20rem;
  background-color: #b6c4b6;
  align-self: flex-end;
  border-radius: 10px;
  position: relative;
}

#pic1 {
  background-image: url("https://plus.unsplash.com/premium_photo-1664648234166-c34e62e0941f?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  border-radius: 10px;
  width: 28rem;
  height: 28rem;
  position: absolute;
  left: -20%;
  top: 5%;
  animation: slideInTop 1s ease forwards;
}

#pic2 {
  background-image: url("https://images.unsplash.com/photo-1582234372722-50d7ccc30ebd?q=80&w=2960&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  width: 28rem;
  height: 28rem;
  background-size: cover;
  border-radius: 10px;
  position: absolute;
  left: 40%;
  top: 15%;
  background-color: black;
  animation: slideInRight 1s ease forwards;
}

#pic3 {
  background-image: url("https://images.unsplash.com/photo-1464219222984-216ebffaaf85?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  position: absolute;
  width: 34rem;
  height: 26rem;
  border-radius: 10px;
  background-color: black;
  left: -35%;
  top: 55%;
  animation: slideInBottom 1s ease forwards;
}

#pic4 {
  background-image: url("https://images.unsplash.com/photo-1646624807990-18ad54729bbd?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  position: absolute;
  background-color: black;
  border-radius: 10px;
  width: 29.5rem;
  height: 34rem;
  left: 50%;
  top: 55%;
  animation: slideInLeft 1s ease forwards;
}

@keyframes slideInTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
