.navbar {
  background-color: #163020;
  display: flex;
  height: 60px;
  align-items: center;
  width: 100%;
  padding-left: 5rem;
}

.navItem {
  font-size: 2rem;
  display: inline-block;
}

div > ul {
  margin-left: 5rem;
  display: flex;
  gap: 20px;
}

.navlinks {
  color: white;
  text-decoration: none;
}

.navlinks:hover {
  color: #b6c4b6;
}
