.navbar {
  background-color: #163020;
  display: flex;
  height: 5rem;
  align-items: center;
  width: 100%;
  padding-left: 5rem;
}

.navItem {
  font-size: 2rem;
  display: inline-block;
}

.navlist {
  margin-left: 5rem;
  display: flex;
  gap: 20px;
}

.navlinks {
  color: white;
  text-decoration: none;
}

.navlinks:hover {
  color: #b6c4b6;
}

.navbarlogo {
  margin-left: 241px;
  width: 120px;
  height: 100px;
}
