.container {
  background-color: #b6c4b6;
  /* margin-top: 30px; */
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subMessage {
  display: flex;
  align-items: center;
  width: 50%;
}
.logo {
  width: auto;
  height: 110px;
}

.logo > img {
  width: 100px;
  height: 70px;
  border-radius: 50%;
}
.message {
  width: 40%;
}
.message > h3 {
  font-size: medium;
}

.subForm {
  background-color: #eef0e5;
}
input[type="email" i] {
  height: 5rem;
  padding: 1rem 1rem;
  width: 30rem;
  border-radius: 1rem;
  font-weight: 700;
}
.subscribe_button {
  width: 11rem;
  height: 5rem;
  border-radius: 1rem;
  font-size: medium;
  font-weight: 700;
  color: #eef0e5;
  background-color: #163020;
}

.textSub {
  font-size: medium;
}
